<table>
    <th>Mbr_po</th>
    <th>Tracking</th>
    <th>Extra Data</th>
<% @data.each do |t|%>
    <tr>
    <td class="tracking"><%= t.mbr_po%><%if t.cat=="Amazon"%><%= t.cust_po %><% end %></td>
    <td class="tracking"><%= t.tracking_no %></td>
    <td class="tracking"><% if t.cat != "TTW" %><%= Date.yesterday.strftime("%m/%d/%Y")%><%else%>Shipped<%end%></td>
    </tr>
<% end %>
</table>