<% @outputclass = 0 %>
<% if Rsc.exists? %>
  <% if Rsc.first.created_at.strftime("%m/%d/%y")==Date.today.strftime("%m/%d/%y")%>
    <% @rscclass = "complete" %>
    <% @outputclass +=1 %>
  <%end%>
<% end %>
<% if OrderReport.exists? %>
  <% if OrderReport.first.created_at.strftime("%m/%d/%y")==Date.today.strftime("%m/%d/%y")%>
    <% @ordreportclass = "complete" %>
    <% @outputclass += 1 %>
  <%end%>
<% end %>
<% if OrderConfirm.exists? %>
  <% if OrderConfirm.first.created_at.strftime("%m/%d/%y")==Date.today.strftime("%m/%d/%y")%>
    <% @cnfmclass = "complete" %>
    <% @outputclass += 1 %>
  <%end%>
<% end %>
<%= form_tag import_tracking_index_path, multipart: true do %>
  <%= file_field_tag :file, class: @rscclass%>
  <%= submit_tag "Import RSC" %>
<% end %>
<%= form_tag orderreport_tracking_index_path, multipart: true do %>
  <%= file_field_tag :file, class: @ordreportclass%>
  <%= submit_tag "Import OrderReport"  %>
<% end %>
<%= form_tag order_confirm_tracking_index_path, multipart: true do %>
  <%= file_field_tag :file, class: @cnfmclass %>
  <%= submit_tag "Import Ordcnfm_010" %>
<% end %>
<%= link_to "Output", '/tracking/output', class: if @outputclass!=3
"hidden"
end
%>
