<table>
        <th>            Reported Date        </th>
        <th>            Order        </th>
        <th>            Sku        </th>
        <th>            Quantity        </th>
        <th>            Status        </th>
        <th>            Note        </th>
<% @errorreport.each do |t| %>
<tr>
    <td>
        <%= t.Reported_Date %>
    </td>
    <td>
        <%= t.Order %>
    </td>
    <td>
        <%= t.Sku %>
    </td>
    <td>
        <%= t.Qty %>
    </td>
    <td>
        <%=t.Status %>
    </td>
    <td>
        <%= t.Note %>
    </td>
</tr>
<% end %>