<div class="jumbotron">
<h1 class="page-header text-center">Home</h1>
<p>Static Homepage For Right now. Want to add categories to make everything more accessible. Look into making the header more dynamic as well
Issue tracking under <a href="https://schenk.myjetbrains.com">YouTrack</a></p>
</div>