<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "HomePage", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Upload Files", '/tracking/new'%></li>
              <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Categories <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "NJ", '/tracking/nj' %></li>
              <li><%= link_to "Global", '/tracking/global' %></li>
              <li><%= link_to "Amazon", '/tracking/amazon' %></li>
              <li><%= link_to "Sears", '/tracking/sears' %></li>
              <li><%= link_to "TTW", '/tracking/ttw' %></li>
              <li><%= link_to "Misc", '/tracking/misc' %></li>
            </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>